name: Post JSON File to Two URLs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  post_json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Send JSON Data to First URL
        run: |
          curl -X POST "https://:M0gawabFT06L247-sqhHVw@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:OdFWnN7nSyKerQvipYbCkw/streams/AQAAAJYj5vE3GEyLomtddyfTx4cAAAAA" \
            -H "Content-Type: application/json" \
            -d @stream.json

      - name: Send JSON Data to Second URL
        run: |
          curl -X POST "https://:k9QW1h43RmC6CZeYtXUtlw@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:OdFWnN7nSyKerQvipYbCkw/streams/AQAAAEuRNpn1LUYrrrh__Kh3Q3QAAAAA" \
            -H "Content-Type: application/json" \
            -d @stream.json
